body
    form(action='', method='POST')
        label(for='name') Username:
        br
        input(type='text', name='username', value=username)
        br
        label(for='email') Email: 
        br
        input(type='text', name='email', value=email)
        br
        label(for='pass') Password:
        br 
        input(type='password', name='pass', value='')
        br
        label(for='pass') New Password:
        br 
        input(type='password', name='newpass', value='')
        br
        label(for='repass') Repeat new password:
        br
        input(type='password', name='repass', value='')
        br
        ul.errors
            if errors
                for error in errors
                    li #{error.msg}
        input(type='submit', value='Submit')
