body
    include mixins/snackbarMixin
    block content
        include mixins/formsMixin
        +editUserAccountForm('/user')
        +snackbar()
    block scripts
        script.
            //refactor later
            $('form').on('submit', function(event) {
                var data = {}
                genericSubmitForm(data, event, this, function(data){
                    showSnackbar("Account edited", true);
                })
            });
    
