extends layout.pug
include mixins/formsMixin
block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/create.css')
    include mixins/snackbarMixin
    +orderBase(['Id', 'User_Id', 'Paid', 'Reciever Name', 'Address'])
    +orderProductsModal(['Product Name', 'Quantity', 'Price'])
    +snackbar()
block append scripts
    +orderHandler()
    script.
        var adminPublicRoutes = !{JSON.stringify(publicRoutes.admin)};
        $(document).ready( function () {
            var orderTable = $('#ordersResult').DataTable( {
                paging: true,
                scrollY: 400,
                columns: [
                    { data: 'id' },
                    { data: 'user_id' },
                    { data: 'paid' },
                    { data: 'reciever_name' },
                    { data: 'address' }
                ]
            });

            var orderProductsTable = $('#orderProducts').DataTable({
                paging: true,
                scrollY: 400,
                columns: [
                    { data: 'name'},
                    { data: 'quantity'},
                    { data: 'price'}
                ]
            });
            $('.display tbody').on( 'click', $('.display tbody:parent'), function(){
                openOrderModal($(this), adminPublicRoutes.orderById, orderTable, orderProductsTable);
            });
            $('#refreshOrders').click(function(){
                getOrders(adminPublicRoutes.allOrders, orderTable)
            })
            getOrders(adminPublicRoutes.allOrders, orderTable)
        });