body
    block content
        link(rel='stylesheet', type='text/css', href='/stylesheets/create_tc.css')
        include mixins/tagCategoryForm
        p Tags
        br
        +formTC('/admin/tagCreate')
        button#tags.refresh Refresh
        #tagsEdit.modal
            .modal-content
                span.close ×
                +formTC('/admin/edit/tags')
        table#tagsResults.display(table='tags')
            thead
                tr
                th Id
                th Name
                th Color
                th Visible
                th
                th 
            tbody
        p Categories
        br
        +formTC('/admin/categoryCreate')
        button#categories.refresh Refresh
        #categoriesEdit.modal
            .modal-content
                span.close ×
                +formTC('/admin/edit/categories')
        table#categoriesResults.display(table='categories')
            thead
                tr
                th Id
                th Name
                th Color
                th Visible
                th
                th 
            tbody
        p Products
        br
        +formProduct('/admin/productCreate')
        button#products.refresh Refresh
        #productsEdit.modal
            .modal-content
                span.close ×
                +formProduct('/admin/edit/products')
        table#productsResults.display(table='products')
            thead
                tr
                th Id
                th Name
                th Manufacturer
                th Description
                th Cost
                th Category
                th Visible
                th
                th 
            tbody
    block scripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css')
        script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js')
        script.
            $(document).ready( function () {
                var columns = [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'color' },
                        { data: 'visible' },
                        { targets: -1, data: null, defaultContent: "<button class='editRecord'>Edit</button>"},
                        { targets: -1, data: null, defaultContent: "<button class='deleteRecord'>X</button>"}
                    ];
                var productColumns = [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'manifacturer' },
                        { data: 'description' },
                        { data: 'cost' },
                        { data: 'category' },
                        { data: 'visible' },
                        { targets: -1, data: null, defaultContent: "<button class='editRecord'>Edit</button>"},
                        { targets: -1, data: null, defaultContent: "<button class='deleteRecord'>X</button>"}
                    ];
                var tables = { tags: $('#tagsResults').DataTable( {
                    paging: true,
                    scrollY: 400,
                    columns: columns
                }),  categories: $('#categoriesResults').DataTable({
                    paging: true,
                    scrollY: 400,
                    columns: columns
                }), products: $('#productsResults').DataTable({
                    paging: true,
                    scrollY: 400,
                    columns: productColumns})}
                var editId = null;
                $('.display tbody').on( 'click', 'button.editRecord', function () {
                    //prefil data todo
                    var modal = $(`#${$(this).parents('table').attr('table')}Edit`);
                    modal.on('click', '.close', function(){ modal.css("display","none"); console.log(modal)});
                    modal.css("display","block");
                    editId = tables[$(this).parents('table').attr('table')]
                    .row( $(this).parents('tr') ).data()['id'];
                } );
                $('.display tbody').on( 'click', 'button.deleteRecord', function () {
                    var data = tables[$(this).parents('table').attr('table')]
                    .row( $(this).parents('tr') ).data();
                    if(confirm(`Delete record with Id: ${data['id']} and Name: ${data['name']}`)){
                        console.log(data)
                        $.ajax({
                            data: {id: data['id']},
                            type: 'POST',
                            url: "/admin/delete/" + $(this).parents('table').attr('table'),
                            dataType: 'json',
                            success: function(data){
                                table = tables[data['table']]
                                if(table){
                                    table.clear().draw();
                                    table.rows.add(data['result']).draw();
                                }
                            }
                        });
                    }
                } );
                $('.refresh').on('click', function(e){
                    $.ajax({
                        type: 'POST',
                        url: "/admin/getAll/" + $(this).attr('id'),
                        success: function(data){
                            table = tables[data['table']]
                            if(table){
                                table.clear().draw();
                                table.rows.add(data['result']).draw();
                            }
                        }
                    })
                });
                $(".productCategoryRefresh").on('click', function(e) {
                    var select = $(this).siblings('.productCategory')
                    select.empty();
                    $.ajax({
                        type: 'POST',
                        url: '/admin/getAll/categories',
                        success: function (data) {
                            $.each(data['result'], function(_, value){
                                console.log(value.id + " " + value.name)
                                select.append($('<option>', { 
                                    value: value.id.toString(10),
                                    text : value.name 
                                }));
                            });

                        }
                    })
                });
                $('form').on('submit', function(event) {
                    var data = {}
                    if($(this).parent().attr('class') == "modal-content") {
                        data['id'] = editId;
                    }
                    console.log($(this).serializeArray())
                    $.each($(this).serializeArray(), function() {
                        if (data[this.name]) {
                            if (!data[this.name].push) {
                                data[this.name] = [data[this.name]];
                            }
                            data[this.name].push(this.value || '');
                        } else {
                            data[this.name] = this.value || '';
                        }
                    });
                    console.log(data)
                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: $(this).attr('action'),
                        dataType: 'json',
                        success: function(data){
                            console.log(data)
                            table = tables[data['table']]
                            console.log(table)
                            if(table){
                                table.clear().draw();
                                table.rows.add(data['result']).draw();
                            }
                            editId = null;
                        }
                    })
                    event.preventDefault();
                });
            });