body
    include mixins/snackbarMixin
    block content
        include mixins/formsMixin
        +loginUserForm(publicRoutes.admin.login)
        +snackbar()
    block scripts
        script.
            //refactor later
            $('form').on('submit', function(event) {
                var data = {}
                genericSubmitForm(data, event, this)
            });