extends layout.pug
block append css
    link(rel='stylesheet', type='text/css', href='/stylesheets/create.css')
block content
    include mixins/snackbarMixin
    +orderBase(['Id', 'Paid', 'Reciever Name', 'Address'])(class="styled-btn" id="refreshOrders")
    +orderProductsModal(['Product Name', 'Quantity', 'Price'])
    +snackbar()
block append scripts
    +orderHandler()
    script.
        var rootPublicRoutes = !{JSON.stringify(publicRoutes.root)};
        $(document).ready( function () {
            var orderTable = $('#ordersResult').DataTable( {
                paging: true,
                scrollY: 400,
                columns: [
                    { data: 'id' },
                    { data: 'paid' },
                    { data: 'reciever_name' },
                    { data: 'address' }
                ]
            });
            var orderProductsTable = $('#orderProducts').DataTable({
                paging: true,
                scrollY: 400,
                columns: [
                    { data: 'name'},
                    { data: 'quantity'},
                    { data: 'price'}
                ]
            })
            var orderModal = $('#orderModal')
            $('.display tbody').on( 'click', function () {
               openOrderModal($(this), rootPublicRoutes.getOrderById, orderTable, orderProductsTable);
            });
            $('#refreshOrders').click(function(){
                getOrders(rootPublicRoutes.ordersForUser, orderTable)
            })
            getOrders(rootPublicRoutes.ordersForUser, orderTable)
        });