extends layout.pug
include mixins/formsMixin
block append css
    link(rel='stylesheet', type='text/css', href='/stylesheets/account.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/form.css')
block content
    #formHolder
        +registerUserForm(publicRoutes.user.register)
    +snackbar()
block append scripts
    +submitForm("Account registered. Please verify")
