link(rel='stylesheet', type='text/css', href='/stylesheets/snackbar.css')
script(src='/js/snackbar.js')
mixin snackbar()
    #snackbar

mixin submitForm(callbackMsg)
    - callbackMsg = callbackMsg || null
    script.
        $(document).ready(function() {
            var callback = null
            var msg = !{JSON.stringify(callbackMsg)}
            if(msg) {
                callback = (data)=> {
                    showSnackbar("Account edited", true);
                }
            }
            $('form').on('submit', function(event) {
                var data = {}
                genericSubmitForm(data, event, this, callback)
            });
        });