mixin formTC(path)
    form.TC(action=path, method='POST')
        label(for='name') Name:
        br
        input(type='text', name='name', value='')
        br
        label(for='color') Color string: 
        br
        input(type='text', name='color', value='')
        br
        label(for='visible') Visible:
        br 
        select(name='visible')
            option(value='True') True
            option(value='False') False
        br
        ul.errors
            if errors
                for error in errors
                    li #{error.msg}
        input(type='submit', value='Submit')
mixin formProduct(path)
    form.Products(action=path, method='POST')
        label(for='name') Name:
        br
        input(type='text', name='name', value='')
        br
        label(for='manifacturer') Manufacturer: 
        br
        input(type='text', name='manifacturer', value='')
        br
        label(for='description') Description: 
        br
        input(type='text', name='description', value='')
        br
        label(for='cost') Cost: 
        br
        input(type='number', name='cost', value='')
        br
        label(for='category') Category:
        br 
        select.productCategory(name='category')
        button.productCategoryRefresh(type="button") Refresh
        br
        label(for='visible') Visible:
        br 
        select(name='visible')
            option(value='True') True
            option(value='False') False
        br
        ul.errors
            if errors
                for error in errors
                    li #{error.msg}
        input(type='submit', value='Submit')